<div class="album-container">
    <!-- 카테고리 네비게이션 -->
    <div class="box">
      <h2 class="title is-4">Album Categories</h2>
      <ul>
        {% for category in site.data.album.categories %}
          <!-- <li><a href="#{{ category.id }}">{{ category.name }}</a></li> -->
          <a href="#{{ category.id }}"> {{category.icon}} {{category.name }}</a>
        {% endfor %}
      </ul>
    </div>
  
    {% for category in site.data.album.categories %}
      <h2 class="title is-4" id="{{ category.id }}">{{ category.name }}</h2>
      <div class="columns is-multiline">
        {% for image in category.images %}
          <div class="column is-one-third">
            <figure class="image {{ image.ratio }}">
              <img src="{{ image.link }}" alt="{{ image.description }}">
            </figure>
            <p>{{ image.description | markdownify }}</p>
  
            {% if image.callout %}
              <div class="notification is-info">
                {{ image.callout }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <hr>
    {% endfor %}
  </div>
  