<style>
  .news-icon { color: #010042; margin-right: 8px; }
</style>

<div class="box">
    <h2 class="title is-4">News Categories</h2>
    <ul>
        <li><a href="#papers"><i class="fa-solid fa-file-lines news-icon"></i>Papers</a></li>
        <li><a href="#awards"><i class="fa-solid fa-trophy news-icon"></i>Awards</a></li>
        <li><a href="#projects"><i class="fa-solid fa-diagram-project news-icon"></i>Projects</a></li>
        <li><a href="#people"><i class="fa-solid fa-user-group news-icon"></i>New Members</a></li>
    </ul>
</div>