{% if page.gallery %}
  {% assign galleries=site.data.[page.gallery] %}
  {% for gallery in galleries %}
    {% assign title = gallery.title %}

    <div class="columns is-multiline">
      <div class="column is-12 has-text-left">
        <h1 style="font-size:35px;">{{ gallery.title }}</h1>
        <hr class="people-divider"> 
      </div>

      {% for image in gallery.images %}
        {% if title == "Faculty" %}
        <div class="column is-3">
        <div class="faculty-card">
            <div class="faculty-card-image">
            {% include image-modal.html ratio=image.ratio link=image.link alt=image.alt large_link=image.large_link %}
            </div>
            <div class="card-content">
            <div class="content">
                {{ image.description | markdownify }}
                {% if image.email %}
                <p><strong>Email:</strong> <a href="mailto:{{ image.email }}">{{ image.email }}</a></p>
                {% endif %}
                {% if image.keywords %}
                <p><strong>Keywords:</strong> {{ image.keywords }}</p>
                {% endif %}                  
            </div>
            </div>
        </div>
        </div>
        <hr>
        {% else %}
        <div class="column is-one-quarter">
        <div class="card">
            <div class="card-image">
            {% include image-modal.html ratio=image.ratio link=image.link alt=image.alt large_link=image.large_link %}
            </div>
            <div class="card-content">
            <div class="content">
                {{ image.description | markdownify }}
            </div>
            </div>
        </div>
        </div>
        <hr>
        {% endif %}
      {% endfor %}
    </div>
    <hr>
  {% endfor %}
{% endif %}


<style>

.people-divider {
    border: none;
    border-top: 1px solid #b8b6b6; /* 얇은 회색 실선 */
    margin: 10px 0; /* 위아래 간격 */
    width: 100%;
}

.faculty-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  overflow: auto;
}

.faculty-card-image {
  width: 100%;
  min-height: 200px;
  object-fit: cover;  /*전체 이미지 출력(잘리지 않게)*/
}

.card-image {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}
</style>