---
layout: default
---

{% if page.gallery %}
{% assign galleries = site.data[page.gallery] %}
{% for gallery in galleries %}
  <!-- 그룹 섹션 -->
  <div class="columns is-multiline">
    <div class="column is-12">
      <h1 class="has-text-left" style="font-size:40px;">{{ gallery.title }}</h1>
    </div>

    {% for image in gallery.images %}
      {% if image.page_link %}
        <a href="{{ image.page_link }}" style="display:block; text-decoration:none; color:inherit;">
      {% endif %}
      {% if gallery.title == "Faculty" %}
        <div class="column is-3-desktop is-4-tablet is-6-mobile">
      {% else %}
        <div class="column is-one-fifth-desktop is-half-tablet is-full-mobile">
      {% endif %}
          <div class="card" style="margin:0 auto; text-align:center;">
            <div class="card-image" style="padding:10px;">
              {% include image-modal.html
                link=image.link
                alt=image.alt
                large_link=image.large_link
                ratio="is-16by9"
              %}
            </div>
            <div class="card-content" style="padding:0.5rem;">
              {% if gallery.title == "Faculty" %}
                <div class="content" style="text-align:left; font-size:1.1rem;">
              {% else %}
                <div class="content" style="text-align:left; font-size:0.9rem;">
              {% endif %}
              
                {{ image.description | markdownify }}

                <!-- {% if image.email %}
                  <p style="margin-top:5px;">
                    <strong>Email:</strong><br>
                    <a href="mailto:{{ image.email }}">{{ image.email }}</a>
                  </p>
                {% endif %} -->
                {% if image.at %}
                  <p style="margin-top:5px;">
                    <a href="{{ image.at_link }}">@{{ image.at }}</a>
                  </p>
                {% endif %}
                <div style="margin-top:5px;">
                    {% if image.email %}
                        <a href="{{ image.email}}" target="_blank" style="display:inline-block; font-size:20px; margin-right:5px; color:gray;">
                        <i class="fas fa-envelope"></i>
                        </a>
                    {% endif %}
                    {% if image.linkedin %}
                        <a href="{{ image.linkedin}}" target="_blank" style="display:inline-block; font-size:20px; margin-right:5px; color:gray;">
                        <i class="fab fa-linkedin"></i>
                        </a>
                    {% endif %}
                    {% if image.scholar %}
                        <a href="{{ image.scholar }}" style="display:inline-block; font-size:20px; margin-right:5px; color:gray;">
                        <i class="fa-brands fa-google-scholar"></i>
                        </a>
                    {% endif %}
                    {% if image.github %}
                    <a href="{{ image.github }}" target="_blank" style="display:inline-block; font-size:20px; margin-right:5px; color:gray;">
                      <i class="fab fa-github"></i>
                    </a>
                    {% endif %}
                    {% if image.homepage %}
                    <a href="{{ image.homepage }}" target="_blank" style="display:inline-block; font-size:20px; color:gray;">
                      <i class="fas fa-home"></i>
                    </a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% if image.page_link %}
            </a>
          {% endif %}
        </div>
    {% endfor %}
  </div>
  <hr>
{% endfor %}
{% endif %}
