---
layout: default
---

{% if page.gallery %}
  {% assign galleries = site.data[page.gallery] %}
  {% for gallery in galleries %}
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1 class="has-text-left draggable-title" draggable="true" style="font-size:40px;">
          <strong>{{ gallery.title }}</strong>
        </h1>
      </div>

      {% for image in gallery.images %}
        {% assign authors = image.authors %}
        {% if authors contains "*" %}
          {% assign authors = authors | append: " (*: Equal Contribution)" %}
        {% endif %}
        {% assign authors = authors | replace: "Younggun Cho", "<strong>Younggun Cho</strong>" %}

        <div class="column is-12">
          <div style="padding-left:1.5em; text-indent:-1.5em;">
            [{{ forloop.index }}] <strong>{{ image.alt }}</strong><br>
            <span style="font-size:0.9em;">
              <a href="{{ image.conf_link }}" target="_blank" rel="noopener">{{ image.conf }}</a>
            </span><br>
            <span style="font-size:0.9em;">{{ authors }}</span>
          </div>
        </div>
      {% endfor %}

    </div>
  {% endfor %}
{% endif %}


