---
layout: default
---


{% if page.gallery %}
  {% assign galleries = site.data[page.gallery] %}
  {% for gallery in galleries %}
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1 class="has-text-left" style="font-size:40px;">{{ gallery.title }}</h1>
      </div>
      {% for image in gallery.images %}
        <div class="column is-3-desktop is-4-tablet is-full-mobile">
          {% if image.page_link %}
            <a href="{{ image.page_link | absolute_url }}" class="custom-link" style="display:block; text-decoration:none; color:inherit;">
          {% endif %}
          <!-- 카드: Flexbox로 상단/하단 영역 구분 -->
          <div class="card"
               style="
                 margin:0 auto;
                 text-align:center;
                 height:550px;
                 display:flex;
                 flex-direction:column;
                 justify-content:space-between;
               ">
            <!-- 상단 영역 -->
            <div>
              <div class="card-image">
                {% include image-modal.html
                  link=image.link
                  alt=image.alt
                  large_link=image.large_link
                  ratio="is-16by9"
                %}
              </div>
              <div class="card-content" style="padding:10px;">
                <div class="content" style="text-align:left; font-size:1.0rem; color:black; font-weight:bold;">
                    <a href="{{ image.alt_link }}" target="_blank" style="color:#0073e6; text-decoration:none;">[{{ image.alt }}]</a> {{ image.paper }}
                </div>
                <div style="margin-top:10px; font-size:0.8rem; color:gray;">
                  {{ image.authors }}
                </div>
              </div>
            </div>
            <!-- 하단 영역 (맨 아래 고정) -->
            <div style="margin-top:auto;">
                {% if image.tags %}
                <div style="text-align:center; margin:2px 0;">
                  {% for tag in image.tags %}
                    {% assign tag_color = site.data.research_tags[tag] | default: "#666" %}
                    <span style="
                      display:inline-block;
                      background-color:{{ tag_color }};
                      color:black;
                      border-radius:5px;
                      padding:2px 5px;
                      margin:2px;
                      font-size:0.6rem;
                      font-weight:bold;
                    ">
                      {{ tag }}
                    </span>
                  {% endfor %}
                </div>
              {% endif %}
              
              
              <hr style="width:70%; margin:0 auto;">
              {% if image.date %}
                <p style="margin-top: 10px; margin-bottom:10px; text-align:center; font-size:1.0rem; color:black;">
                    Published: {{ image.date }}
                </p>
              {% endif %}
            </div>
          </div>
          {% if image.page_link %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <hr>
  {% endfor %}
{% endif %}
